        <!-- ==============carousel================== -->
         
    <div class="carousel-wrapper">
        <div data-carousel class="carousel-track" id="carousel">
            <div class="carousel-item">
                <img class="carousel-item-img" src="../../assets/images/testimonials/test_pic1.png"
                    alt="Placeholder Image 1">
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="../../assets/images/testimonials/test_pic2.png"
                    alt="Placeholder Image 2">
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="../../assets/images/testimonials/test_pic3.png"
                    alt="Placeholder Image 3">
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="../../assets/images/testimonials/test_pic4.png"
                    alt="Placeholder Image 4">
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="../../assets/images/testimonials/test_pic5.png"
                    alt="Placeholder Image 5">
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="../../assets/images/testimonials/test_pic6.png"
                    alt="Placeholder Image 6">
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="../../assets/images/testimonials/test_pic7.jpg"
                    alt="Placeholder Image 7">
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="../../assets/images/testimonials/test_pic8.png"
                    alt="Placeholder Image 8">
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="../../assets/images/testimonials/test_pic9.png"
                    alt="Placeholder Image 9">
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="../../assets/images/testimonials/test_pic10.jpg"
                    alt="Placeholder Image 10">
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="../../assets/images/testimonials/test_pic11.png"
                    alt="Placeholder Image 11">
            </div>
            <div class="carousel-item">
                <img class="carousel-item-img" src="../../assets/images/testimonials/test_pic12.jpg"
                    alt="Placeholder Image 12">
            </div>
            <!-- Duplicates for looping -->

        </div>
    </div>
    <script src="/pages/the_scrambler/carousel.js"></script>

    <!-- ==============carousel================== -->