.carousel-wrapper {
    width: 100%;
    overflow: hidden;
    background: black;
    padding: 20px 0;
  }
  
  .carousel-track {
    display: flex;
    animation: scroll 6000s linear infinite;
  }
  
  .carousel-item {
    min-width: 200px;
    height: 273px;
    margin: 0 42px;
    background: #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-10000%);
    }
  }

  .carousel-item-img{
    height: 100%;
    width: 100%;
  }