  <script src="https://fast.wistia.com/player.js" async></script>
  <script src="https://fast.wistia.com/embed/pv6oawox6v.js" async type="module"></script>
  <style>
    wistia-player[media-id='pv6oawox6v']:not(:defined) {
      background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/pv6oawox6v/swatch');
      display: block;
      filter: blur(5px);
      padding-top: 53.75%;
    }
  </style>
  <wistia-player class="video-section__player" media-id="pv6oawox6v" aspect="1.8604651162790697"></wistia-player>