    <div class="cta-container">
        <div class="cta-promo">
            <img class="cta-promo__img" src="../../assets/images/tiktok-logo-4500.svg" alt="TikTok Logo">
            <p class="cta-promo__text">Video will lock in
                <span data-promo-text-countdown-timer class="cta-promo__countdown-timer"></span>
            </p>
        </div>
        <a class="cta-button" target="_blank"
            href="https://a230b9fcp11fl-sfri-0p3qp4d.hop.clickbank.net/?&traffic_source=tiktok&traffic_type=bridge-page&campaign=videohook&ad=ad2"
            data-cta-button>
            🔓 Continue — Discover the Technique
        </a>
    </div>
    <script src="../cta_countdown_btn/cta_countdown-btn.js"></script>
